* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
}

.container {
    width: 1050px;
    padding-bottom: 20px;
    border: 1px solid;
}

.head {
    color: #fff;
    background-color: #5bd9fc;
    padding: 50px;
    position: relative;
}

.avatar {
    width: 250px;
    height: 250px;
    background: url("header.1af6756a.png") no-repeat center;
    background-size: cover;
    position: absolute;
    border: 4px solid #7DF9FF;
    border-top-left-radius: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 8px;
}

.name {
    font-size: 32px;
    font-weight: 700;
}

.head-content {
    margin-left: 30%;
}

.about {
    margin-top: 25px;
}

.container-content {
    margin-top: 100px;
    padding: 0 50px;
    display: flex;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #5bd9fc;
    border-radius: 50%;
    margin-right: 30px;
    margin-left: 6px;
}

.content-decription-title {
    font-size: 20px;
    font-weight: 600;
}

.container-content-left {
    width: 500px;
    margin-right: 30px;
    flex: 2;
}

.container-content-right {
    width: 300px;
    flex: 1;
}

.d-flex {
    display: flex;
    align-items: center;
}

.dot-skill {
    width: 10px;
    height: 10px;
    background-color: #5bd9fc;
    border-radius: 50%;
    margin-left: 6px;
}

.title-container {
    display: flex;
    align-items: center;
}

.title-icon {
    width: 36px;
    height: 36px;
    margin-right: 12px;
    background-color: #5bd9fc;
    border-top-left-radius: 8px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 4px;
}

.title-container .title {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 500;
    color: #5bd9fc;
}

.content-decription {
    display: flex;
    align-items: center;
    margin-top: 14px;
}